/*_____body_____*/

body {
    background-color: black;
}


/*_____navbar_____*/

#my-navbar{
    text-align: center;
}

/*_____landing/home_____*/

.landing {
    background: url("../img/slate..jpg");
}